@page
@model IoTTestbed.Pages.TaskList.ContinueModel
@{
}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">

                    <label for="NewProject">Project Name</label>
                    <input type="text" class="form-control" placeholder="Enter name" name="NewProject">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button asp-page-handler="CreateNew" type="submit" class="btn btn-primary">Create Project</button>
                </div>

            </form>
        </div>
    </div>
</div>


<h1 class="text-info">Select a project then upload file</h1>
<hr />
<br />


<form method="get">
    <div class="form-group row">
        <label for="inputFilter" class="col-sm-1 col-form-label"></label>

        <div class="col-sm-7">
            <input type="text" class="form-control" id="inputFilter" placeholder="" name="FilterSearch">
        </div>


        <div class="col-sm-3">
            <input class="btn btn-secondary form-control" type="submit" class="" placeholder="" value="Search">
        </div>
        <div class="col-sm-1">

        </div>

    </div>
</form>
<br />
<div class="table-wrapper-scroll-y my-custom-scrollbar">



    <form method="post">

        @if (Model.ContikiExamples.Count() > 0)
        {

            <table class="table table-bordered table-striped mb-0">
                <tr class="table-secondary">


                    <th scope="col">
                        <label>Project Name</label>
                    </th>

                    <th scope="col">
                        <label>Actions</label>
                    </th>

                </tr>
                @foreach (var item in Model.ContikiExamples)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item)

                        </td>
                        <td>
                            <div class="input-group">

                                <div class="custom-file">
                                    <input asp-for="FileUpload.FormFile" type="file" class="custom-file-input" id="inputGroupFile04">
                                    <label asp-for="FileUpload.FormFile" class="custom-file-label" for="inputGroupFile04">Choose .c file</label>
                                    <span asp-validation-for="FileUpload.FormFile"></span>
                                </div>
                                <div class="input-group-append">
                                    <input asp-page-handler="UploadC" class="btn btn-primary form-control" type="submit" value="Upload" />
                                </div>

                            </div>
                            <br />

                            <div class="input-group">

                                <div class="custom-file">
                                    <input asp-for="FileUpload.FormFile" type="file" class="custom-file-input" id="inputGroupFile04">
                                    <label asp-for="FileUpload.FormFile" class="custom-file-label" for="inputGroupFile04">Choose Makefile (optional)</label>
                                    <span asp-validation-for="FileUpload.FormFile"></span>
                                </div>
                                <div class="input-group-append">
                                    <input asp-page-handler="UploadM" class="btn btn-warning form-control" type="submit" value="Upload" />
                                </div>

                            </div>

                            @*<button asp-page-handler="UploadM"  class="btn btn-primary btn">Upload .c file</button>*@
                            @*<button asp-page-handler="UploadM" class="btn btn-warning btn">Upload Makefile</button> <p>(Optional)</p*@

                        </td>


                    </tr>

                }
            </table>


        }
        else
        {

            <p>No matched results</p>

        }
    </form>
    <br />
</div>
<br />

<div class="col-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Create new Project
    </button>

</div>


<br />
<br />


@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.querySelector('.custom-file-input').addEventListener('change', function (e) {
            var fileName = document.getElementById("inputGroupFile04").value;
            //console.log(fileName.substring(fileName.lastIndexOf("\\") + 1));
            var nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName.substring(fileName.lastIndexOf('\\') + 1)
            //nextSibling.innerText = fileName;
        })

    </script>
}
