@page
@model IoTTestbed.Pages.TaskList.ResultsModel
@{
    Layout = "_LayoutSession";
}

<style>

    /*    body  {

    margin:0;

    }*/
    .row {
        margin-right: 0px !important;
    }
</style>
<br /><br /><br /><br />
<div class="embed-responsive embed-responsive-16by9">

    <iframe class="embed-responsive-item w-100" src="http://localhost:3000/d/Ap4RFZpGkasd/iot_test45?orgId=1&from=1608310020539&to=1608310320539&var-node=N5&theme=light"  frameborder="1"></iframe>
</div>





