@page
@model IoTTestbed.Pages.TaskList.ResultsModel
@{
    Layout = "_LayoutSession";
}

<style>

    /*    body  {

    margin:0;

    }*/
    .row {
        margin-right: 0px !important;
    }
</style>

<div class="embed-responsive embed-responsive-16by9">



    <iframe class="embed-responsive-item w-100 h-100 border-0 position-absolute m-0" src="http://localhost:3000/d/Ap4RFZpGkasd/iot_test45?orgId=1&from=1603446461659&to=1603446761659&var-node=kwh" width="100" height="100" frameborder="1"></iframe>
</div>





