@page
@model IoTTestbed.Pages.TaskList.ResultsModel
@{
}


<h1>Results</h1>


<div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="http://localhost:3000/d-solo/Ap4RFZpGkasd/iot_test45?orgId=1&from=1603378949742&to=1603379249742&var-node=kwh&panelId=12" width="450" height="200" frameborder="0" width="450" height="200" frameborder="0"></iframe>
</div>


<br />
<hr />
<br />
<div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="http://localhost:3000/d-solo/Ap4RFZpGkasd/iot_test45?orgId=1&from=1603379438624&to=1603379738624&var-node=kwh&panelId=8" width="450" height="200" frameborder="0" width="450" height="200" frameborder="0" width="450" height="200" frameborder="0"></iframe>
</div>